body{
    background-image: url(image/investigation1.jpg);
    background-position: center;
    background-size: cover;
}
.box{
    width: 400px;
    height: 450px;
    background: #0009;
    color: #fff;
    top: 63%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px; 
}
p a:link,p a:visited{
    
    background-color: #800000;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    font-size: 18px;
    font-family: verdana;
}
p a:hover,p a:active{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
